@using PagedList.Mvc;
@model PagedList.IPagedList<Outsourcing.Data.Models.Product>

<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="~/Content/MyPham/assets/img/hero/category.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Danh sách sản phẩm</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Latest Products Start -->
    <section class="latest-product-area latest-padding">
        <div class="container">
            <div class="row product-btn d-flex justify-content-between">
                <div class="properties__button">
                    <!--Nav Button  -->
                    <!--End Nav Button  -->
                </div>
                <div class="select-this d-flex">

                </div>
            </div>
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            if (item.IsHomePage == true)
                            {
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <img src="http://tueduchealthy.vn/@item.ProductPictureMappings.FirstOrDefault().Picture.Url" alt="">
                                            <div class="new-product">
                                                <span>Sale</span>
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <h4><a href="/productDetail/@item.Slug">@item.Name</a></h4>
                                            <div class="price">
                                                <ul>
                                                    <li>@item.Price.ToString("#,##0") vnđ</li>
                                                    <li class="discount">@item.OldPrice.ToString("#,##0") vnđ</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <img src="http://tueduchealthy.vn/@item.ProductPictureMappings.FirstOrDefault().Picture.Url" alt="">
                                            <div class="new-product">
                                                <span>Sale</span>
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <h4><a href="/productDetail/@item.Slug">@item.Name</a></h4>
                                            <div class="price">
                                                <ul>
                                                    <li>920.000 VNĐ</li>
                                                    <li class="discount">@item.OldPrice.ToString("#,##0") vnđ</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }




                    </div>
                </div>

            </div>
            <div class="col text-center">

                @*<div class="page1" style="text-align:center">
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                    </div>
                    <br />
                *@
                @*<div>
                    <span>@Html.PagedListPager(Model, page => Url.Action("Products", "Products", new { page }))</span>
                </div>*@
               
                <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Previous">
                                <i class="ti-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link"> @Html.PagedListPager(Model, page => Url.Action("Products", "Products", new { page })).ToString()</a>
                        </li>
                        <li class="page-item active">
                            <a href="#" class="page-link">2</a>
                        </li>
                        @*<li class="page-item">
                                <a class="page-link">@Html.PagedListPager(Model, page => Url.Action("News", "New", new { page }))</a>
                            </li>*@
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Next">
                                <i class="ti-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>





            </div>
            <!-- End Nav Card -->
        </div>
    </section>
    <!-- Latest Products End -->
    <!-- Latest Offers Start -->
    <div class="latest-wrapper lf-padding">
        <div class="latest-area latest-height d-flex align-items-center" data-background="~/Content/MyPham/assets/img/collection/latest-offer.png">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-5 col-lg-5 col-md-6 offset-xl-1 offset-lg-1">
                        <div class="latest-caption">
                            <h2>Get Our<br>Latest Offers News</h2>
                            <p>Subscribe news latter</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-6 ">
                        <div class="latest-subscribe">
                            <form action="#">
                                <input type="email" placeholder="Your email here">
                                <button>Shop Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- man Shape -->
            <div class="man-shape">
                <img src="~/Content/MyPham/assets/img/collection/latest-man.png" alt="">
            </div>
        </div>
    </div>
    <!-- Latest Offers End -->
    <!-- Shop Method Start-->
    <div class="shop-method-area section-padding30">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-method mb-40">
                        <i class="ti-package"></i>
                        <h6>Free Shipping Method</h6>
                        <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-method mb-40">
                        <i class="ti-unlock"></i>
                        <h6>Secure Payment System</h6>
                        <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-method mb-40">
                        <i class="ti-reload"></i>
                        <h6>Secure Payment System</h6>
                        <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Method End-->
    <!-- Gallery Start-->
    <section class="latest-product-area padding-bottom">
        <div class="container">
            <div class="row product-btn d-flex justify-content-end align-items-end">
                <!-- Section Tittle -->

                <div class="col-xl-8 col-lg-7 col-md-7">
                    <div class="properties__button f-right">
                        <!--Nav Button  -->
                        <!--End Nav Button  -->
                    </div>
                </div>
            </div>
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/Gallery/Gallery7.png" alt="">
                                    <div class="new-product">
                                        <span>Sales</span>
                                    </div>
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/Gallery/Gallery3.png" alt="">
                                    <div class="new-product">
                                        <span>Sales</span>
                                    </div>
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/Gallery/Gallery2.png" alt="">
                                    <div class="new-product">
                                        <span>Sales</span>
                                    </div>
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card two -->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product4.png" alt="">
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product5.png" alt="">
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product6.png" alt="">
                                    <div class="new-product">
                                        <span>Sales</span>
                                    </div>
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product2.png" alt="">
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product3.png" alt="">
                                    <div class="new-product">
                                        <span>Sales</span>
                                    </div>
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product1.png" alt="">
                                    <div class="new-product">
                                        <span>Sales</span>
                                    </div>
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card three -->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product2.png" alt="">
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product3.png" alt="">
                                    <div class="new-product">
                                        <span>Sales</span>
                                    </div>
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product1.png" alt="">
                                    <div class="new-product">
                                        <span>Sales</span>
                                    </div>
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product4.png" alt="">
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product6.png" alt="">
                                    <div class="new-product">
                                        <span>Sales</span>
                                    </div>
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product5.png" alt="">
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card foure -->
                <div class="tab-pane fade" id="nav-last" role="tabpanel" aria-labelledby="nav-last-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product1.png" alt="">
                                    <div class="new-product">
                                        <span>Sales</span>
                                    </div>
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product2.png" alt="">
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product3.png" alt="">
                                    <div class="new-product">
                                        <span>Sales</span>
                                    </div>
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product4.png" alt="">
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product5.png" alt="">
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/MyPham/assets/img/categori/product6.png" alt="">
                                    <div class="new-product">
                                        <span>Sales</span>
                                    </div>
                                </div>
                                <div class="product-caption">

                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>920.000 VNĐ</li>
                                            <li class="discount">1.380.000 VNĐ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Nav Card -->
        </div>
    </section>
    <!-- Gallery End-->

</main>
