@using Outsourcing.Core.Common
@model IEnumerable<Outsourcing.Data.Models.Blog>
@{
    /**/

    HttpCookie cookie = Request.Cookies["_culture"];
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        if (cookie.Value == "vi" || cookie.Value == "")
        {
            <li class="widget-blog">
                <div class="thumbnail">
                    <a href="/newDetail/@item.Slug"><img class="blogimage" src="http://tueduchealthy.vn/@item.BlogImage_Default" alt="@item.Title"></a>
                </div>
                <div class="content">
                    <h3 class="title slug"><a href="/newDetail/@item.Slug">@Html.Raw(slitString.TruncateAtWord(item.Title, 80))</a></h3>
                    <span class="date created">@item.DateCreated.ToString("dd/MM/yyyy")</span>
                </div>
            </li>
        }
        else
        {

            <li class="widget-blog">
                <div class="thumbnail">
                    <a href="/newDetail/@item.Slug"><img class="blogimage2" src="http://tueduchealthy.vn/@item.BlogImage_Default" alt="@item.TitleEng" name=""></a>
                </div>
                <div class="content">
                    <h3 class="title newdetail"><a href="/newDetail/@item.Slug">@Html.Raw(slitString.TruncateAtWord(item.TitleEng, 80))</a></h3>
                    <span class="date cret">@item.DateCreated.ToString("dd/MM/yyyy")</span>
                </div>
            </li>

        }

    }
}

