@using PagedList;
@using PagedList.Mvc;
@using Outsourcing.Core.Common
@model PagedList.IPagedList<Outsourcing.Data.Models.Blog>


<!-- slider Area Start--------->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Tin Tức</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!--================Blog Area =================--->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    @foreach (var item in Model)
                    {
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="http://tueductest.lilotech.com/@item.BlogImage_Default" alt="">
                                <!-- <a href="#" class="blog_item_date"> -->
                                <!-- <h3>15</h3> -->
                                <!-- <p>Jan</p> -->
                                <!-- </a> -->
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="/newDetail/@item.Slug">
                                    <h2>@Html.Raw(slitString.TruncateAtWord(item.Title, 80))</h2>
                                </a>
                                <p>
                                    @Html.Raw(slitString.TruncateAtWord(item.Description, 200))
                                </p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-calendar"></i> @item.DateCreated.ToString("dd/MM/yyyy")</a></li>

                                </ul>
                            </div>
                        </article>
                    }


                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                @*<li class="page-item">
                                    <a class="page-link">@Html.PagedListPager(Model, page => Url.Action("News", "New", new { page }))</a>
                                </li>*@
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    @Html.Action("NewsFeatured", "New")
                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Social</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/img/post/facebook.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/img/post/instagram-sketched.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/img/post/tiktok.png" alt="">
                                </a>
                            </li>


                        </ul>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</section>