@model Outsourcing.Data.Models.Blog
@{
    HttpCookie cookie = Request.Cookies["_culture"];
    ViewBag.Title = ViewBag.Title;
    ViewBag.Description = ViewBag.Description;
    ViewBag.Image = ViewBag.Image;
    ViewBag.Url = ViewBag.Url;
}

<style>
    .widget-blogs {
        display: inline;
    }
</style>
<div class="page-title-section section" data-bg-image="http://tueduchealthy.vn/@ViewBag.BannerChild" alt="tueduchealthy.vn">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-title">
                    @if (Model.BlogCategoryId == 3)
                    {
                        <h1 class="title">@Html.Raw(Resources.NewsDetails)</h1>
                    }
                    else
                    {
                        <h1 class="title">@Html.Raw(Resources.RECRUITMENT)</h1>
                    }

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">@Html.Raw(Resources.HOME)</a></li>
                        @if (Model.BlogCategoryId == 3)
                        {
                            <li class="breadcrumb-item active"><a href="/newDetail/@Model.Slug">@Html.Raw(Resources.NewsDetails)</a></li>
                        }
                        else
                        {
                            <li class="breadcrumb-item active"><a href="/newDetail/@Model.Slug">@Html.Raw(Resources.RECRUITMENT)</a></li>
                        }

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page Title/Header End -->
<!-- Portfolio Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row learts-mb-n50">

            <div class="col-xl-9 col-lg-8 col-12 learts-mb-50">
                <div class="single-blog">
                    <div class="image">
                        <a href="/newDetail/@Model.Slug"><img src="@Model.BlogImage_Default" alt="@Model.Title"></a>
                    </div>
                    <div class="content">
                        @if (cookie.Value == "vi" || cookie.Value == "")
                        {
                            <h2 class="title">@Model.Title</h2>
                            <ul class="meta">

                                <li><i class="far fa-calendar"></i><a href="#">Ngày đăng:@Model.DateCreated.ToString("dd/MM/yyyy")</a></li>

                            </ul>
                            <div class="desc">
                                @if (Model.BlogCategoryId == 3)
                                {
                                    <blockquote>
                                        <p>@Html.Raw(Model.Description)</p>
                                    </blockquote>
                                }

                                <p>@Html.Raw(Model.Content)</p>
                            </div>
                        }
                        else
                        {
                            <h2 class="title">@Model.TitleEng</h2>
                            <ul class="meta">

                                <li><i class="far fa-calendar"></i><a href="#">Create Date:@Model.DateCreated.ToString("dd/MM/yyyy")</a></li>

                            </ul>
                            <div class="desc">

                                @if (Model.BlogCategoryId == 3)
                                {
                                    <blockquote>
                                        <p>@Html.Raw(Model.Description)</p>
                                    </blockquote>
                                }
                                <p>@Html.Raw(Model.ContentEng)</p>

                            </div>
                        }
                    </div>

                </div>


            </div>
            <div class="col-xl-3 col-lg-4 col-12 learts-mb-10">
                <!-- Search Start -->
                <div class="single-widget learts-mb-40">
                    <div class="widget-search">

                    </div>
                </div>
                <!-- Search End -->
                <!-- Blog Post Widget Start -->
                <div class="single-widget learts-mb-40">

                    <h3 class="widget-title product-filter-widget-title">
                        @Html.Raw(Resources.FeaturedNews)
                    </h3>

                    <div style="display:inline-flex" class="widget-blogs">
                        <ul class="widget-blogs">
                            @Html.Action("NewsFeatured", "New")
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>