@using PagedList;
@using PagedList.Mvc;
@using Outsourcing.Core.Common
@model PagedList.IPagedList<Outsourcing.Data.Models.Blog>
@{
    HttpCookie cookie = Request.Cookies["_culture"];
}

<style>
    .date {
        font-size: 11px;
    }
</style>
<div class="page-title-section section" data-bg-image="@ViewBag.BannerChild" alt="tueduchealthy.vn">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-title">
                    <h1 class="title">@Html.Raw(Resources.NEWS)</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">@Html.Raw(Resources.HOME)</a></li>
                        <li class="breadcrumb-item active"><a href="/news">@Html.Raw(Resources.NEWS)</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page Title/Header End -->
<!-- Portfolio Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row learts-mb-n50">

            <div class="col-xl-9 col-lg-8 col-12 learts-mb-50">
                <div class="row learts-mb-n40">
                    @foreach (var item in Model)
                    {
                        if (cookie.Value == "vi" || cookie.Value == "")
                        {
                            <div class="col-md-6 col-12 learts-mb-40 tintuc1">
                                <div class="blog">
                                    <div class="image">
                                        <a href="/newDetail/@item.Slug"><img class="hinhanh" src="http://tueductest.lilotech.com/@item.BlogImage_Default" alt="@item.Title"></a>
                                    </div>
                                    <div class="content datenews" >
                                        <ul class="meta">
                                            <li><i class="far fa-calendar"></i><a class="date" href="#" >@item.DateCreated.ToString("dd/MM/yyyy")</a></li>

                                        </ul>
                                        <h5 class="title"><a class="newdetal" href="/newDetail/@item.Slug">@Html.Raw(slitString.TruncateAtWord(item.Title, 80)) </a></h5>
                                        <div class="desc">
                                            @*<p style="display:block;text-overflow: ellipsis;width: auto;height:60px;overflow: hidden; white-space: nowrap;">*@
                                            <p class="abcd">
                                                @Html.Raw(slitString.TruncateAtWord(item.Description, 180))
                                                <br />
                                            </p>
                                        </div>
                                        <a href="/newDetail/@item.Slug" class="link" style="position:absolute; bottom:0">Xem Thêm</a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 col-12 learts-mb-40 blogs" >
                                <div class="blog">
                                    <div class="image">
                                        <a href="/newDetail/@item.Slug"><img class="img2" src="http://tueduchealthy.vn/@item.BlogImage_Default" alt="@item.TitleEng"></a>
                                    </div>
                                    <div class="content taongay" >
                                        <ul class="meta">
                                            <li><i class="far fa-calendar"></i><a class="date" href="#">@item.DateCreated.ToString("dd/MM/yyyy")</a></li>

                                        </ul>
                                        <h5 class="title"><a style="overflow: hidden; text-overflow: ellipsis" href="/newDetail/@item.Slug">   @Html.Raw(slitString.TruncateAtWord(item.TitleEng, 80))</a></h5>
                                        <div class="desc">
                                            @*<p style="display:block;text-overflow: ellipsis;width: auto;height:60px;overflow: hidden; white-space: nowrap;">*@
                                            <p style="display:block;text-overflow: ellipsis;width: auto;height:95px;">
                                                @Html.Raw(slitString.TruncateAtWord(item.DescriptionEng, 180))
                                                <br />
                                            </p>
                                        </div>
                                        <a href="/newDetail/@item.Slug" class="link" style="position:absolute; bottom:0">Read More</a>
                                    </div>
                                </div>
                            </div>
                        }


                    }



                </div>

                <div class="row learts-mt-50">
                    <div class="col text-center">
                        @if (cookie.Value == "vi" || cookie.Value == "")
                        {
                            <div style="font-family:Marcellus,Arial,Helvetica,sans-serif">
                                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                            </div>
                            <br />
                        }
                        else
                        {
                            <div style="font-family:Marcellus,Arial,Helvetica,sans-serif">
                                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                            </div>
                            <br />
                        }


                        <center>@Html.PagedListPager(Model, page => Url.Action("News", "New", new { page }))</center>


                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-12 learts-mb-10">
                <div class="single-widget learts-mb-40">

                  
                        <h3 class="widget-title product-filter-widget-title">
                          @Html.Raw(Resources.FeaturedNews)
                        </h3>
                  

                    <ul class="widget-blogs">
                        @Html.Action("NewsFeatured", "New")
                    </ul>

                </div>
            </div>

        </div>
    </div>

</div>
<!-- Portfolio Section End -->